WEAVER_API_BASE=https://zdyl.zhende.com:11112/papi/openapi
WEAVER_APP_KEY=
WEAVER_APP_SECRET=
WEAVER_CORP_ID=
WEAVER_USER_KEY=
WEAVER_REQUIRE_BINDING=false
WEAVER_IDENTITY_PARAM=userid
WEAVER_AUTO_INJECT_USERID=true
WEAVER_API_ALLOWED_PATHS=
